@import '@/assets/css/variables.scss';

.color-purple { 
  color: $purple; 
}

.bg-purple { 
  background-color: $purple; 
}

.color-purple-1 { 
  color: $purple-1; 
}

.bg-purple-1 { 
  background-color: $purple-1; 
}

.color-orange { 
  color: $orange; 
}

.bg-orange { 
  background-color: $orange; 
}

.color-orange-1 { 
  color: $orange-1; 
}

.bg-orange-1 { 
  background-color: $orange-1; 
}

.color-orange-2 { 
  color: $orange-2; 
}

.bg-orange-2 { 
  background-color: $orange-2; 
}

.color-grey { 
  color: $grey; 
}

.bg-grey { 
  background-color: $grey; 
}

.color-grey-1 { 
  color: $grey-1; 
}

.bg-grey-1 { 
  background-color: $grey-1; 
}

.color-grey-2 { 
  color: $grey-2; 
}

.bg-grey-2 { 
  background-color: $grey-2; 
}

.color-grey-3 { 
  color: $grey-3; 
}

.bg-grey-3 { 
  background-color: $grey-3; 
}

.color-green { 
  color: $green; 
}

.bg-green { 
  background-color: $green; 
}

.color-red { 
  color: $red; 
}

.bg-red { 
  background-color: $red; 
}

.color-white { 
  color: #FFFFFF; 
}

.bg-white { 
  background-color: #FFFFFF; 
}

.color-black-1 { 
  color: $black-1; 
}

.bg-black-1 { 
  background-color: $black-1; 
}


