$purple: #6F73EE;
$purple-1: #8185F9;
$orange: #F3A712;
$orange-1: #FAB836;
$orange-2: #FFD12E;
$grey: #5D6C7B;
$grey-1: #F4F7FB;
$grey-2: #EAEBED;
$grey-3: #F0F1F5;
$green: #75D14A;
$red: #EE685F;
$black-1: #282739;


// $break_xs: 0;
// $break_sm: 576px;
// $break_md: 768px;
// $break_lg: 992px;
// $break_xl: 1200px;
// $break_xxl: 1400px;


$font-family-jost: 'Jost', sans-serif;